@font-face {
    font-family: 'Raleway', sans-serif;
}
body {
    font-family: 'Raleway';
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: flex-end; 
}
header img {
    width: 110px; 
    height: 60px; 
}
nav ul {
    list-style-type: none; 
    display: flex;
}

nav li {
    margin-right: 60px; 
}

nav a {
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
    border-top: 3px solid #FFFFFF;
}

nav a:hover {
    color: #760001;
    border-top: 3px solid #0065FC;
}
nav a:focus {
    color: #760001;
}
#frm_rch {
    position: relative;
    display: flex;
    border-collapse: separate;
}
#imap {
    text-align: center;
    background-color: #F2F2F2;
    padding: 10px;
    width: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#frm_rch input {
    font-size: 15px;
}
.bouton_recherche {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0065FC;
    background-image: linear-gradient(to top right,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton_recherche:hover {
    background-color: #DEEBFF;
}

.bouton_recherche:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#bouton_filtres {
}
#bouton_filtres ul { 
    list-style-type: none;
    display: flex;
    padding: 0;
}
#bouton_filtres li {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-right: 20px;
}
#gras {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
}

#bouton_filtres a {
    border: #E6E6E6 solid 2px;
    border-radius: 45px;
    padding: 0px 15px 0px 0px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
#bouton_filtres a:hover {
    color: #DEEBFF;
}
#bouton_filtres a:focus {
    color: #DEEBFF;
}
#bouton_filtres i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 45px;
    height: 100%;
    width: 38px;
    margin-right: 10px;
}
.icinfo {
    text-align: center;
    color: #0065FC;
    border: #E6E6E6 solid 2px;
    border-radius: 45px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.hp {
    display: flex;
    flex-flow: row;
}
.hp a {
    text-decoration: none;
}
.fas_p{
    color: #0065FC;
}
.fas_v {
    color: #dbdbdb;
}

.hébergements {
    display: flex;
    flex-flow: column; /* blocs h2, hmarseille, h2 */
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 20px; /* arrondis */
    padding: 20px; /* marge intérieure */
    margin-right: 40px;
}
#hmarseille {

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#hmarseille figure {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 15px #E3E3E3;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    height: 200px;
    width: 230px;
    margin: auto;
    margin-bottom: 25px;
}
#hmarseille img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
#hmarseille figcaption {
    height: 40%;
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    font-size: 12px;
    line-height: 100%;
}
#afficher_plus {
    cursor: pointer;
}
aside {
    width: 400px; /* espace que prend le bloc */
    background-color: #F2F2F2;
    border-radius: 20px; /* arrondis */
    padding: 20px; /* marge intérieure */
    width: 31%;
}

#titrepop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#icaption_b {
    align-self: flex-end;
}

.populaires figure {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 1px 1px 15px #E3E3E3;
    display: flex;
    flex-flow: row;
    padding: 5px;
    height: 150px;
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
}
.populaires img {
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
    margin-right: 20px;
}
.populaires figcaption {
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    font-size: 12px;
    line-height: 100%;
    margin-right: 40px;
}
#amarseille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    grid-auto-rows: 440px; /* donne la hauteur des colonnes */
    margin-bottom: 60px;
}
#amarseille figure {
    box-shadow: 1px 1px 15px #E3E3E3;
}
#amarseille a {
    text-decoration: none;
}

.act_un_trois {
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    height: 440px;
    overflow : hidden;
    margin: auto;
}
.act_un_trois img {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    align-self: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
#colonne_deux {
}
.act_pomègues {
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    height: 235px;
    overflow : hidden;
    margin: auto;
    margin-bottom: 30px;
}
.act_pomègues img {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    align-self: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.act_frioul {
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    height: 175px;
    overflow: hidden;
    margin: auto;
}
.act_frioul img {
    height: calc(100% - 60px);
    width: 100%;   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.act_ndgarde {
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    height: 175px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 30px;

}
.act_ndgarde img {
    height: calc(100% - 60px);
    width: 100%;   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
.act_parc {
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    height: 235px;
    overflow: hidden;
    margin: auto;
}
.act_parc img {
    height: calc(100% - 60px);
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius:20px; 
}
.activités figcaption {
    background-color: #FFFFFF;
    color: #000000;
    height: 60px;
    padding: 8px;
    box-sizing: border-box; /* intègre le padding dans la taille de la boîte */
    text-align: left;
    font-size: 12px;
    line-height: 100%;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F2F2F2;
}
.footer ul {
    list-style-type: none; 
}
.footer a {
    text-decoration: none;
}
.footer li{
    margin-bottom: 15px;
}