@font-face {
    font-family: 'Raleway', sans-serif;
}
body {
    font-family: 'Raleway';
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: flex-end; 
}
header img {
    width: 110px; 
    height: 60px; 
}
nav ul {
    list-style-type: none; 
    display: flex;
}

nav li {
    margin-right: 60px; 
}

nav a {
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
    border-top: 3px solid #FFFFFF;
}

nav a:hover {
    color: #760001;
    border-top: 3px solid #0065FC;
}
nav a:focus {
    color: #760001;
}
#bouton_filtres ul { 
    list-style-type: none;
    display: flex;
}
#bouton_filtres li {
    border: thin #c0c0c0 solid;
}
#bouton_filtres a {
    margin-right: 0px; 
    text-decoration: none;
}

.icinfo {

}



img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

figcaption {
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    font-size: 12px;
    line-height: 100%;
}
.hp {
    display: flex;
    flex-flow: row;
}
.hébergements {
    display: flex;
    flex-flow: column; /* blocs h2, hmarseille, h2 */
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 5px; /* arrondis */
    padding: 20px; /* marge intérieure */
    margin-right: 20px;
}
#hmarseille {

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
#hmarseille figure {
    border: thin #c0c0c0 solid;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    height: 200px;
    width: 230px;
    margin: auto;
}
#hmarseille img {
    width: 100%;
    height: 60%;   
}
#hmarseille figcaption {
    height: 40%;
}
aside {
    width: 400px; /* espace que prend le bloc */
    background-color: #F2F2F2;
    border-radius: 5px; /* arrondis */
    padding: 20px; /* marge intérieure */
    width: 31%;
}
#titrepop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.populaires figure {
    border: thin #c0c0c0 solid;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    padding: 5px;
    height: 150px;
    width: 260px;
    margin: auto;
}
.populaires img {
    width: 40%;
    height: 100%;   
}
.activités {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.amoda {
    border: thin #c0c0c0 solid;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
.amodb {
    border: thin #c0c0c0 solid;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}



.footer {
    display: flex;
}
.footer ul {
    list-style-type: none; 
}
.footer a {
    text-decoration: none;

}
